POSTGRES_DB=carepath
POSTGRES_USER=carepath
POSTGRES_PASSWORD=carepath
POSTGRES_PORT=5432
CAREPATH_API_PORT=8080
MOCK_HIS_PORT=8090
VITE_API_BASE_URL=http://localhost:8080
HIS_BASE_URL=http://mock-his:8090
